.App {
  padding: 1rem; 
}

.ui.dropdown {
  display: inline-flex;
  align-items: center;
  gap: .78571429em;
}

.ui.dropdown > .text {
  white-space: nowrap;
}

.ui.dropdown > .dropdown.icon {
  margin: 0;
}

.ui.form.filters .field {
  margin: 0;
}
