.App {
  padding: 1rem; 
}

.ui.table {
  margin: 1em 0 !important;
}

.ui.dropdown {
  display: inline-flex;
  align-items: center;
  gap: .78571429em;
}

.ui.dropdown.selection {
  display: block;
}

.ui.dropdown > .text {
  white-space: nowrap;
}

.ui.dropdown > .dropdown.icon {
  margin: 0;
}

.ui.form.filters .field {
  margin: 0;
}

.ui.table tfoot th {
  font-size: .92857143rem !important;
  font-weight: 400 !important;
}

.ui.menu.pagination {
  gap: 5px;
}

.ui.menu.pagination .item {
  display: flex !important;
  align-items: center;
  justify-content: center;

  margin: 0 !important;
  padding: 0 !important;
  aspect-ratio: 1;
}

@media (max-width: 767px) {

  .App {
    padding: 1rem 0; 
  }

  .App > .ui.grid {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .App > .ui.grid > div {
    width: auto !important;
    text-align: center;
  }

  .App > .ui.grid > div:last-child:not(:only-child) {
    padding-top: 0 !important;
  }

  .ui.table:not(.unstackable) thead tr {
    display: flex !important;
    align-items: space-between;
    gap: 5px;
    flex-wrap: wrap;
    position: relative;
    padding-left: 100px;
  }

  .ui.table:not(.unstackable) thead tr:before {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    content: "Sort";
    padding: .25em .75em!important;
    width: 90px;
    background-color: #f9fafb !important;
    font-weight: 700;
    border-right: 1px solid rgba(34,36,38,.1);
    border-bottom: 1px solid rgba(34,36,38,.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .ui.table:not(.unstackable) thead tr > th {
    text-align: left !important;
    border-radius: 4px;
    font-weight: 400 !important;
  }

  .ui.table:not(.unstackable) thead tr > th:first-child {
    display: none !important;
  }

  .ui.table:not(.unstackable) tr.filters { 
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .ui.table:not(.unstackable) tr.filters > td.reset { 
    order: 1;
    padding-bottom: 1em !important;
  }

  .ui.table:not(.unstackable) tr > td {
    position: relative;
    padding-left: 100px !important;
    text-align: left !important;
    box-sizing: border-box !important;
    min-height: 27px;
  }
  
  .ui.table:not(.unstackable) tbody tr {
    padding-top: 0 !important;
    padding-bottom: 1px !important;
  }
  
  .ui.table:not(.unstackable) tbody tr > td:nth-child(2) {
    padding-top: 1em !important;
  }
  
  .ui.table:not(.unstackable) tbody tr > td:nth-child(2):before {
    padding-top: 1em !important;
  }
  
  .ui.table:not(.unstackable) tbody tr > td:last-child {
    padding-bottom: 1em !important;
    min-height: 37.5px;
  }
  
  .ui.table:not(.unstackable) tbody tr > td:last-child:before {
    padding-bottom: 1em !important;
  }

  .ui.table:not(.unstackable) tr > td[data-label="ID"] {
    display: none !important;
  }

  .ui.table:not(.unstackable) tr > td[data-label="Filters"],
  .ui.table:not(.unstackable) tr > td[data-label="Filters"] ~ td:before {
    align-items: center;
  }

  .ui.table:not(.unstackable) tr > td[data-label="Filters"] ~ td:before {
    font-weight: 400 !important;
  }

  .ui.table:not(.unstackable) tr > td[data-label="Filters"] .ui.checkbox:after {
    content: 'Has Flag';
    display: inline-block;
    margin-left: 25px;
  }

  .ui.table:not(.unstackable) tr > td:before {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    content: attr(data-label);
    padding: .25em .75em!important;
    width: 90px;
    background-color: #f9fafb !important;
    font-weight: 700;
    border-right: 1px solid rgba(34,36,38,.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .ui.table:not(.unstackable) tfoot tr > th .ui.grid {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .ui.table:not(.unstackable) tfoot tr > th .ui.grid > div {
    width: auto !important;
    text-align: center;
  }

  .ui.table:not(.unstackable) tfoot tr > th .ui.grid > div:first-child:not(:only-child) {
    padding-bottom: 0 !important;
  }
  
}